form {
    width: 30rem;

    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    .input-container {
        display: flex;
        flex-direction: column;
        gap: .5rem;

        label, input {
            font-size: 1.4rem;
            font-weight: 400;
        }

        input {
            padding: .3em .5em;

            outline: none;
            border: .2rem solid #ccc;
            -webkit-border-radius: 1rem;
            -moz-border-radius: 1rem;
            border-radius: 1rem;

            transition: border-color .5s ease;

            &:focus {
                border-color: #2F80ED;
            }
        }
    }
}
